
.loginBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d6b7d;
}

body {
    background-color: #7d6b7d;
}

.loginContainer {
    width: 100%; 
    max-width: 700px; 
    padding: 40px; 
    background-color: #7d6b7d; 
    border-radius: 8px; 
    text-align: center; 
    color: #f0f0f0; 
    border: 3px solid white;
}


.loginHeader { 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 30px;
    width: 100%; 
}

.backArrow {
    font-size: 24px;
    color: #f0f0f0;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.backArrow:hover {
    color: #b6828c;
}

.title {
    font-size: 32px;
    font-weight: 500;
    flex: 1; 
    text-align: center; 
    margin-right: 25px;
}


.label {
    display: block;
    font-size: 20px; 
    color: #e0e0e0;
    margin-top: 15px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 12px; 
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px; 
}

.button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #b6828c;
    color: white;
    font-size: 18px; 
    cursor: pointer;
}

.button:hover {
    background-color: #a56f78;
}

.footerText {
    margin-top: 20px;
    font-size: 18px;
    color: #f0f0f0;
}

.signUpLink {
    color: #b6828c;
    text-decoration: none;
}

.signUpLink:hover {
    text-decoration: underline;
}
