

.header {
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
}
body {
    overflow-x: hidden;
}
.avatarContainer {
    position: relative;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px; /* Adjust padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 100px; /* Ensure the menu is wide enough */
    z-index: 20; /* Make sure the menu is above other elements */
  }
  
  .menu .logoutButton{
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 0.9rem; /* Smaller font size */
    padding: 6px 12px; /* Reduced padding */
    text-align: left;
    width: 100%;
    transition: background-color 0.2s;

}

.menu .logoutButton:hover {
    background-color: #ddd; /* Light background on hover */
    color:black;
}
  
.headerLeft {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.headerRight {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #D2A38A;
}

.logo {
    width: 140px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}

.nav {
    width: 100%;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0px 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position:relative;
}

.nav li {
    font-size: 25px;
    margin-left: 48px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav a:hover {
    opacity: 0.8;
}

.nav button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

